@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Open+Sans:wght@300&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input-field {
    @apply md:text-right text-xl osans rounded py-2 px-4 border border-gray-500;
}

.form-label-text {
    @apply montserrat md:text-right mb-2;
}

.nav-bg {
    background-color: #5F5F5F90;
}

.logo-font {
    font-family: 'Black Ops One', cursive;
    /* font-size: 3.5rem; */
}

/* Montserrat font */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.osans {
    font-family: 'Open Sans', sans-serif;
}

.shadow-text {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

.shadow-box {
    box-shadow: 0 0 20px 5px #fff;
}

.carousel-img-3 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1608569196/photo-portfolio/display-images/DSC_0671-min_vl9cul.jpg);
}