@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Open+Sans:wght@300&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input-field {
    @apply md:text-right text-xl osans rounded py-2 px-4 border border-gray-500;
}

.form-label-text {
    @apply montserrat md:text-right mb-2;
}

.nav-bg {
    background-color: #5F5F5F90;
    color: #F2F2F2;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

.logo-font {
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

/* Montserrat font */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.osans {
    font-family: 'Open Sans', sans-serif;
}

.shadow-text {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

/* Custom classes */
/*
create custom classes for form input and label elements
*/

@media only screen and (max-width: 640px) {
    .mar-top {
        margin-top: 1.5rem;
    }
  }