<!-- Page navigation -->
<div class="flex justify-evenly items-center text-white nav-bg shadow-text montserrat">
    <a href="#" class="px-2 hover:underline underline-offset-4" style="vertical-align: middle;">HOME</a>
    <a href="#" class="px-2 hover:underline underline-offset-4">GALLERIES</a>
    <a href="#" class="px-2 hover:underline underline-offset-4">SEARCH</a>

<!-- Contact and account management -->

    <a href="#" class="px-2 hover:underline underline-offset-4" >PROFILE</a>
    <a href="#" class="px-2 hover:underline underline-offset-4">CONTACT</a>
    
</div>

<!-- items-center -->