@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

/* MAKES MOBILE NAVBAR FIXED */
.fixed-nav {
    position: fixed;
    left: 5vw;
    top: 10vh;
}