<div class="flex flex-col justify-center border border-t-1 border-gray-300 w-full bottom-0 p-5 sm:px-32 pt-5 pb-10">
    <div class="flex flex-row justify-between md:justify-around w-full lg:w-1/4 mx-auto pb-5 px-10 md:px-0 text-gray-500 text-4xl md:text-2xl">
        <i class="fab fa-twitter hover:text-blue-600 cursor-pointer"></i>
        <i class="fab fa-instagram hover:text-blue-600 cursor-pointer"></i>
        <i class="fab fa-facebook-square hover:text-blue-600 cursor-pointer"></i>
    </div>
    <div>
        <p class="pb-5 text-center text-gray-500 montserrat">All images copyright Vladimir Mijatovic - 2021</p>
        <p class="text-center text-gray-500 montserrat">For more info on code snippets see readme or <a href="#" class="underline underline-offset-2 text-blue-600 hover:text-red-500">contact</a> me</p>
    </div>

</div>