<div class="h-screen relative">
    <div class="fixed flex justify-between w-full px-5 lg:px-32 pt-16">
        <app-nav-desktop class="hidden lg:flex"></app-nav-desktop>
        <app-nav-mobile class="flex lg:hidden"></app-nav-mobile>
        <app-title></app-title>
    </div>

    <div class="w-100 h-1/3 carousel-img-3 bg-cover bg-center" style="height: 33vh;"></div>

    <h1>Oooops! It's a 404...</h1>
    <p>
        Seems like the page you are looking for doesn't exist here. 
        Please check the address in your browser, or you can go to 
        <a routerLink="/" class="underline underline-offset-2 text-blue-600 hover:text-red-500">Home Page.</a>
    </p>

    <app-footer class="absolute bottom-0 w-full"></app-footer>
</div>