<!-- Page navigation -->
<i class="fas fa-bars p-5 text-white nav-bg shadow-text rounded"></i>
<!-- <ul class="flex flex-col justify-center w-48 p-5 text-white nav-bg shadow-text"> -->
<ul class="hidden w-48 p-5 text-white nav-bg shadow-text">
    <li>
        <a href="#">HOME</a>
    </li>
    <li>
        <a href="#">GALLERIES</a>
    </li>
    <li>
        <a href="#">SEARCH</a>
    </li>

    <!-- Contact and account management -->
    <li>
        <a href="#">PROFILE</a>
    </li>
    <li>
        <a href="#">CONTACT</a>
    </li>
</ul>