<!-- Page navigation -->
<ul class="flex column content-evenly w-1/4 ml-10 h-48 drop-shadow-md nav-bg">
    <li class="underline drop-shadow-md">
        <a href="#">HOME</a>
    </li>
    <li>
        <a class="drop-shadow-md" href="#">GALLERIES</a>
    </li>
    <li>
        <button>
            SEARCH
        </button>
    </li>

    <!-- Contact and account management -->
    <li>
        <button>
                PROFILE
        </button>
    </li>
    <li class="nav-item">
        <a href="#">CONTACT</a>
    </li>
</ul>